<div class="about">
  <h1>What is a ToDo List?</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro iste
    voluptatem ullam minus repudiandae nemo doloribus, aliquid et fugiat maiores
    suscipit molestias tempore vitae, a id quisquam! Rerum minima maxime animi
    quo illo, veritatis beatae ullam cumque reiciendis accusamus odio. Quasi
    possimus illum ipsam porro officia eum totam eius animi. <br /><br />
  </p>

  <br />
  <body>
    <div class="footer-dark">
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-3 item">
              <div class="col-sm-6 col-md-3 item">
                <h3>Services</h3>
                <ul>
                  <li><a href="#">Web design</a></li>
                  <li><a href="#">Development</a></li>
                  <li><a href="#">Hosting</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 item">
              <h3>About</h3>
              <ul>
                <li><a href="#">Company</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </div>

            <div class="col-md-6 item text">
              <h3>CodeWithFun</h3>
              <p class="para">
                Praesent sed lobortis mi. Suspendisse vel placerat ligula.
                Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis
                tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel
                in justo.
              </p>
            </div>
            <div class="fotterP">
              <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 pg 61</p>
              <p><i class="fa fa-phone"></i> +91-9999878398</p>
              <p><i class="fa fa fa-envelope"></i> info@example.com</p>
            </div>
            <div class="col item social">
              <a href="#"><img class="fb" src="assets\fb.png" /></a>
              <a href="#"><img class="insta" src="assets\insta.png" /></a>
              <a href="#"><img class="yt" src="assets\yt.png" /></a>
              <a href="#"><img class="twiter" src="assets\twiter.png" /></a>
            </div>
          </div>
          <p class="copyright">CodeWithFun © 2023</p>
        </div>
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  </body>
</div>
